<form class="form-inline mt-5">
   
    <div class="form-group mb-2">
      <label for="inputPassword2" class="sr-only">Kupon Mac Sayisi</label>
      <input type="number" class="form-control macSayisi" placeholder="Kupon Maç Sayısı" required="true">
    </div>
    <button type="submit" class="btn btn-primary mb-2"  id="kuponMacSayisi">Maç Ekle</button>

</form>